@import '@/assets/scss/_fonts';
@import '@/assets/scss/_normalize';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#app {
  min-width: 300px;
}

html {
  font-size: 14px;
  scroll-behavior: smooth;
}

body {
  font-family: 'TT Norms', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
  color: #000;
  background-color: #F3F6F8;
}